#cabecera{
    background-color:white;
    width: 1365px;
    height: 100px;
    position: absolute;
    z-index: 100;
    opacity:0.9;
        
  
}



.cabecera1{
    display: flex;
}
#cabecera .img-logo{
width: 200px;
height: 200px;

}


.logo{
    margin-top: -45px;
    margin-left: 80px;
}

.database{
    margin-top: 45px;
    margin-left: 525px;
    width: 100px;
   height: 90px;
}

.p1{
   font-size: 20px;
   padding-right:25px;
   color: #606060;
   
}


.p1:hover{
    background-color: #3C5AF1;
    box-shadow: 0 0 10px #3C5AF1,0 0 40px #3C5AF1,0 0 80px #3C5AF1;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
    
    }
    
    .p2:hover{
        background-color: #3C5AF1;
        box-shadow: 0 0 10px #3C5AF1,0 0 40px #3C5AF1,0 0 80px #3C5AF1;
        color: white;
        transition-delay: 0.3s;
        border-radius: 10px;
        
        }
        .p3:hover{
            background-color: #3C5AF1;
            box-shadow: 0 0 10px #3C5AF1,0 0 40px #3C5AF1,0 0 80px #3C5AF1;
            color: white;
            transition-delay: 0.3s;
            border-radius: 10px;
            
            }

            .p4:hover{
                background-color: #3C5AF1;
                box-shadow: 0 0 10px #3C5AF1,0 0 40px #3C5AF1,0 0 80px #3C5AF1;
                color: white;
                transition-delay: 0.3s;
                border-radius: 10px;
                
                }
                .p5:hover{
                    background-color: #3C5AF1;
                    box-shadow: 0 0 10px #3C5AF1,0 0 40px #3C5AF1,0 0 80px #3C5AF1;
                    color: white;
                    transition-delay: 0.3s;
                    border-radius: 10px;
                    
                    }
                    
                
              





.p2{
    font-size: 20px;
    padding-right:25px;
    color: #606060;
}
.p3{
    font-size: 20px;
    padding-right:25px;
    color: #606060;
}
.p4{
    font-size: 20px;
    padding-right:25px;
    color: #606060;
}
.p5{
    color: #606060;
    font-size: 20px;
}

.education{
    margin-top: 45px;
        margin-left: -250px;
        margin-right: 30px;
}
.news{
    margin-top: 45px;
    margin-right: 30px;
}

.regulation{
    margin-top: 45px;
  
}

.hoax{
    margin-top: 45px;
    margin-left: 40px;
    color: #606060;

}
.submit1{
    background-color: #0C145D;
}



/*-------------------------------------------------------------------*/

#main{
    padding-top: 1px;
    background-color:white;
   
}
.main1{
    display: flex;
}
.fondoTriangulo{
    display: flex;
position: absolute;
z-index: 1;
}
.img-fondoTriangulo{
    width: 210px;
    

}
.fondoTriangulo2{
    display: flex;
position: absolute;
z-index: 1;
}

.img-fondoTriangulo2{
    width: 200px;
    margin-top: 300px;
    margin-left: 485px;
}


.titulo{
    display: flex;
    margin-top: 40px;
    margin-left: 30px;

}
.titulo1{
    font-size: 65px;
    color:#0C145D;

}

.p10{
    margin-top: 330px;
    margin-left: -390px;
}

.titulo1{
    margin-left: 100px;
    margin-top: 120px;
}
.h1{
    white-space: nowrap;
    font-size: 20px;
    color: #606060;
}
.p1{
    margin-top: 220px;
    margin-left: -265px;
    text-decoration: none;
}

.p2{
    text-decoration: none;
}
.p3{
    text-decoration: none;
}
.p4{
    text-decoration: none;
}
.p5{
    text-decoration: none;
}

.escudo{
    margin-top: 396px;
    margin-left: -350px;

}
.escudo2{
    margin-top: 430px;
}
.img-escudo{
    width: 30px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
}
.best{
    font-size: 17px;
    color:#1C2760;
}


.estrella{
    margin-top: 400px;
    margin-left: 10px;
}
.estrella2{
    margin-top: 430px;
    margin-left: px;
}
.img-estrella{
    width: 60px;
    height: 80px;
}
.selected{
    font-size: 17px;
    color:#1C2760;
}

.reloj{
    margin-top: 500px;
    margin-left: -370px;
}
.reloj2{
    margin-top: 525px;
}

.schedule{
    color:#1C2760;
}

.img-reloj{
    width: 60px;
    height: 80px;
}

/*absolute:para poner una imagen sobre otra*/
/*z-index:mayor numero se pone en frente*/
.baner{
    position: absolute;
    z-index: 1;
    margin-left: 550px;
}
.baner2{
    width: 700px;
    margin-left: 100px;
    height: 1400px;
    
}

.enfermera{
    position: absolute;
    z-index: 10;
}

.enfermera2{
    width: 400px;
    margin-left: 800px;
    height: 600px;
    margin-top: 100px;
}

#location{
    display: flex;
    background:white;
    width: 800px;
    height: 100px;
    margin-top: 580px;
    margin-left: 70px;

    position: absolute;
    z-index: 100;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 2px 2px blue;
  
}
.img-gps{
    width: 30px;
    height: 40px;
    margin-top: -3px;
    
}
.gps1{
    background-color: #A2D7FD;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-left: 30px;
    margin-top: 10px;
    
}

.gps2{
    margin-top: 18px;
    margin-left: 15px;
    color: #606060;
    font-size: 18px;
}

.gps3{
    margin-top: 50px;
    margin-left: -60px;
    margin-right: 40px;
    font-size: 21px;
    color:#1C2760;
}


.date1{
    background-color: #A2D7FD;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    
    margin-top: 10px;
    
}
.img-date{
    width: 33px;
    height: 43px;
    margin-top: -3px;
}

.date2{
    margin-top: 18px;
    margin-left: 15px;
    color: #606060;
    font-size: 18px;
}

.date3{
    margin-top: 50px;
    margin-left: -30px;
    margin-right: 40px;
    font-size: 21px;
    color:#1C2760;
}


.lapiz1{
    background-color: #A2D7FD;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    
    margin-top: 10px;
}
.img-lapiz{
    width: 30px;
    height: 40px;
    margin-top: -3px;
}
.lapiz2{
    margin-top: 18px;
    margin-left: 15px;
    color: #606060;
    font-size: 18px;
}
.lapiz3{
    margin-top: 50px;
    margin-left: -85px;
    margin-right: 40px;
    font-size: 21px;
    color:#1C2760;
}

.submit{
        margin-top: 25px;
        margin-left: 55px;
}
.submit1{
    width: 110px;
    height: 50px;
    background-color: #3506F4;
    color: white;
    border-radius: 5px;
    border-color:#3506F4 ;
}
.submit:hover{
    
    background-color: #3C5AF1;
    box-shadow: 0 0 4px #3C5AF1,0 0 20px #3C5AF1,0 0 80px #3C5AF1;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
    
}



/*------------------------------------------------------------*/
#main2{
    background-color:white;
        height: 750px;
}


.logoss{
    margin-top: 166px;
    background:white;
    display: flex;
}

.astra{
margin-left: 120px;
margin-top: -30px;
margin-right: 75px;
}
.astra-img{
    width: 200px;
    height: 70px;
    margin-top: 30px;
}


.sinovac{
margin-top: 35px;
margin-right: 75px;
}
.img-sinovac{
    width: 150px;
    height: 30px;
}

.fizer{
    margin-right: 75px;
    margin-top: 2px;
}
.img-fizer{
    width: 200px;
    height: 70px;
}


.moderna{
    margin-top: -60px;
}
.img-moderna{
    width: 200px;
    height: 200px;
}


.minimize-general{
    display: flex;
    gap: 50px;
    
}

.titulo10{
    margin-left: 120px;
    font-size: 20px;
    color:#0C145D;
}

.inorder{
    margin-left: 120px;
    padding-bottom: 100px;
}
.inorder2{
    white-space: nowrap;
    font-size: 20px;
    color: #606060;
}

.minimize{
background-color: white;
width: 210px;
height: 300px;
margin-left:120px;
display: flex;
border-radius: 10px;
margin-right: 50px;
border: 3px solid #F4F4F4;

overflow: hidden;
position: relative;
}
.minimize:hover{

    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.1s;
    border-radius: 10px;
    

}


.img-minimize{
    width: 600px;
    height: 200px;
    margin-top: -40px;
}


.minimize3{
    margin-top: 10px;


}
.minimize4{
    margin-top: -15px;
    margin-left: -7px;
    text-align: left;
}
.p20{
    font-size: 20px;
    margin-top: 80px;
    margin-left: -70px;
    color:#00063B;
}
.p21{
    margin-top: 195px;
    margin-left: -100px;
    color: #606060;
}



.forming{
    background-color: white;
    width: 210px;
    height: 300px;
    margin-right: 50px;
    display: flex;
    border-radius: 10px;
    border: 3px solid #F4F4F4;

    overflow: hidden;
position: relative;
    }
    .forming:hover{

        box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
        color: white;
        transition-delay: 0.1s;
        border-radius: 10px;
        
    
    }
    
    .img-forming{
        width: 600px;
        height: 200px;
        margin-top: -40px;
    }
    .forming2{
        margin-left: 10px;
    }
    .forming3{
        margin-top: 10px;
    }
    .forming4{
        margin-top: -15px;
    margin-left: 10px;
    text-align: left;
    }
    .p22{
        font-size: 20px;
        margin-top: 80px;
        margin-left: -70px;
        color:#00063B;
    }
    .p23{
        margin-top: 195px;
        margin-left: -100px;
        color: #606060;
    }




    .protecting{
        background-color:white;
        width: 210px;
        height: 300px;
        margin-right: 50px;
        display: flex;
        border-radius: 10px;
        border: 3px solid #F4F4F4;

        overflow: hidden;
position: relative;
        }
        .protecting:hover{

            box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
            color: white;
            transition-delay: 0.3s;
            border-radius: 10px;
            
        
        }
        
        .img-protecting{
            width: 600px;
        height: 200px;
        margin-top: -40px;
        }
        .protecting2{
            margin-left: 10px;
        }
        .protecting3{
            margin-top: 10px;
        }
        .protecting4{
            margin-top: -15px;
            margin-left: 10px;
            text-align: left;
        }
        .p24{
            font-size: 20px;
            margin-top: 80px;
            margin-left: -70px;
            color:#00063B;
        }
        .p25{
            margin-top: 195px;
            margin-left: -100px;
            color: #606060;
        }



        .creating{
            background-color: white;
            width: 210px;
            height: 300px;
            display: flex;
            border-radius: 10px;
            border: 3px solid #F4F4F4;

            overflow: hidden;
position: relative;
            }
            .creating:hover{

                box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
                color: white;
                transition-delay: 0.3s;
                border-radius: 10px;
                
            
            }
            
            .img-creating{
                width: 600px;
                height: 200px;
                margin-top: -40px;
            }
            .creating2{
                margin-left: 10px;
            }
            .creating3{
                margin-top: 10px;
            }
            .creating4{
                margin-top: -15px;
                margin-left: 10px;
                text-align: left;
            }
            .p26{
                font-size: 20px;
                margin-top: 80px;
                margin-left: -70px;
                color:#00063B;
            }
            .p27{
                margin-top: 195px;
                margin-left: -100px;
                color: #606060;
            }


/*----------------------------------------------------------*/
  #main3{
    display: flex;
  }          


  .img-Baner{
    width: 600px;
    margin-top: 400px;
  height: 900px;
  position: absolute;
  z-index: 1;
  }

  .img-mujer{
    position: absolute;
    z-index: 10;
    width: 500px;
    height: 550px;
    margin-top: 300px;
  }

  .titulo20{
    margin-top: 150px;
    margin-left: 700px;
    white-space: nowrap;
    color:#0C145D;
    font-size: 20px;
  }
  .parrafo1{
    margin-top: 240px;
    margin-left: -470px;
    white-space: nowrap;
    font-size: 20px;
    color: #606060;
    
  }


.avoid1{
    background-color: white;
    width: 400px;
    height: 75px;
margin-top:400px;
margin-left: -450px;
border: 3px solid #F4F4F4;
}
.avoid1:hover{
            box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
            color: white;
            transition-delay: 0.3s;
            border-radius: 10px;
        
}
.img-alcoholic{
    width: 50px;
    height: 90px;

}

.img-triangulo{
    width: 30px;
    height: 50px;
    margin-left: 350px;
    margin-top: -100px;
}
.parrafo10{
    margin-left: 50px;
    margin-top: -70px;
    color:#00063B;
}
.parrafo10-1{
    color:#00063B;
}


.avoid2{
    background-color: white;
    width: 400px;
    height: 75px;
    margin-top: 50px;
    margin-left: -450px;
    border: 3px solid #F4F4F4;
}
.avoid2:hover{
    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
}


.img-stress{
    width: 50px;
    height: 90px;
}

.img-triangulo{
    width: 30px;
    height: 50px;
    margin-left: 350px;
    margin-top: -100px;
}
.parrafo11{
    margin-left: 50px;
    margin-top: -70px;
    
}
.parrafo11-1{
    color:#00063B;
}





.avoid3{
    background-color: white;
    width: 400px;
    height: 75px;
    margin-top: 50px;
    margin-left: -450px;
    border: 3px solid #F4F4F4;
}
.avoid3:hover{
    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
}

.img-eat{
    width: 50px;
    height: 90px;
}

.img-triangulo{
    width: 30px;
    height: 50px;
    margin-left: 350px;
    margin-top: -100px;
}
.parrafo12{
    margin-left: 50px;
    margin-top: -70px;
}
.parrafo12-1{
    color:#00063B;
}



.avoid4{
    background-color: white;
    width: 400px;
    height: 75px;
    margin-top: 50px;
    margin-left: -450px;
    border: 3px solid #F4F4F4;
}
.avoid4:hover{
    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
}


.img-exercise{
    width: 50px;
    height: 90px;
}

.img-triangulo{
    width: 30px;
    height: 50px;
    margin-left: 350px;
    margin-top: -100px;
}
.parrafo13{
    margin-left: 50px;
    margin-top: -70px;
}
.parrafo13-1{
    color:#00063B;
}


/*-----------------------------------------------------------------------------------*/

#main4{
    background-color: white;
    width: 1369px;
    height: 1100px;
    display: flex;
}


.parrafo50{
    margin-top: 260px;
    margin-left: -340px;
    display: flex;
    font-size: 20px;
    color: #606060;
    
}
.contact{
    padding-top: 150px;

    margin-left: 150px;
    display: flex;
    color:#0C145D;
    font-size: 20px;
}

.contactoGeneral{
    display: flex;
    margin-top: 400px;
    margin-left: -400px;
}


.telefono{
    background-color: white;
    width: 230px;
    height: 200px;
    margin-left: -100px;
    margin-top: 100px;
    display: flex;
    border: 3px solid #F4F4F4;
}
.telefono:hover{

        box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
        color: white;
        transition-delay: 0.3s;
        border-radius: 10px;

}
.telefono4:hover{
    background-color: #0C145D;
        box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
        color: white;
        transition-delay: 0.3s;
        border-radius: 10px;
        
    
    
}

.telefono1{
    margin-top: -30px;
}
.img-telefono{
    width: 85px;
    height: 200px;
    
}


.telefono2{
    margin-top: 30px;
    color:#00063B;
    font-size: 19px;
}

.telefono3{
        margin-top: 65px;
        margin-left: -40px;
        color: #606060;
        font-size: 15px;
}
.telefono4{
    margin-top: 130px;
    margin-left: -145px;
    width:160px;
    height: 20px;
    color:#3C5AF1;
    border-radius: 7px;
    text-align: center;
    background-color: #A4D4D6;
   
}







.chat{
    background-color: white;
    width: 230px;
    height: 200px;
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    border: 3px solid #F4F4F4;
}
.chat:hover{

    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;

}
.chat4:hover{
background-color: #0C145D;
    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
}
.chat1{
    margin-top: -30px;
}
.img-chat{
    width: 85px;
    height: 200px;
}


.chat2{
    margin-top: 30px;
    color:#00063B;
    font-size: 19px;
}

.chat3{
    margin-top: 65px;
    margin-left: -45px;
        color: #606060;
        font-size: 15px;
}
.chat4{
    margin-top: 130px;
    margin-left: -145px;
    width:160px;
    height: 20px;
    color:#3C5AF1;
    border-radius: 7px;
    text-align: center;
    background-color: #A4D4D6;
}



.video{
    background-color: while;
    width: 230px;
    height: 200px;
    margin-left: -560px;
    margin-top: 350px;
    display: flex;
    border: 3px solid #F4F4F4;
}
.video:hover{

    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;

}
.video4:hover{
background-color: #0C145D;
    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
}

.video1{
    margin-top: -30px;
    
}
.img-video{
    width: 85px;
    height: 200px;
}


.video2{
    margin-top: 30px;
    color:#00063B;
    font-size: 19px;
    white-space: nowrap;
}

.video3{
    margin-top: 65px;
        margin-left: -100px;
        color: #606060;
        font-size: 15px;
}
.video4{
    margin-top: 130px;
    margin-left: -145px;
    width:160px;
    height: 20px;
    color:#3C5AF1;
    border-radius: 7px;
    text-align: center;
    background-color: #A4D4D6;
}





.message{
    background-color: white;
    width: 230px;
    height: 200px;
    margin-left: 100px;
    margin-top: 350px;
    display: flex;
    border: 3px solid #F4F4F4;
}
.message:hover{

    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;

}
.message4:hover{
background-color: #0C145D;
    box-shadow: 0 0 5px #A4D4D6,0 0 20px #A4D4D6,0 0 40px #A4D4D6;
    color: white;
    transition-delay: 0.3s;
    border-radius: 10px;
}
.message1{
    margin-top: -30px;
    
}
.img-message{
    width: 85px;
    height: 200px;
}


.message2{
    margin-top: 30px;
    color:#00063B;
    font-size: 19px;
}

.message3{
        margin-top: 65px;
        margin-left: -80px;
        color: #606060;
        font-size: 15px;
}
.message4{
    margin-top: 130px;
    margin-left: -145px;
    width:160px;
    height: 20px;
    color:#3C5AF1;
    border-radius: 7px;
    text-align: center;
    background-color: #A4D4D6;
}

.Baner2{
    display: flex;
    margin-left:620px;
    margin-top: 80px;
    position: absolute;
    z-index: 1;
}

.img-Banerr2{
    width: 500px;
    height: 800px;
}

.doctor{
        position: absolute;
        z-index: 10;
        margin-left:570px;
        margin-top: -70px;
}
.img-doctor{
width: 1300px;
height: 550px;
}

/*--------------------------------------------------------------------------------------*/
#footer{
    background-color: #A4D4D6;
    display: flex;
    
}
.footer2{
    margin-top: -30px;
    margin-left: 100px;
}
.logo4{
    width: 200px;
    height: 200px;
}

.Our{
    margin-top: 90px;
    color: #606060;
    margin-left: -160px;
}

.about{
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 50px;
}
.About1{
    color:#0C145D;
    font-size: 25px;
}
.About2{
    color: #606060;
}
.About3{
    color: #606060;
}
.About4{
    color: #606060;
}

.company{
    margin-top: 50px;
    margin-right: 200px;
}
.Company1{
    color:#0C145D;
    font-size: 25px;
}
.Company2{
    color: #606060;
}
.Company3{
    color: #606060;
}
.Company4{
    color: #606060;
}



.support{
   
    margin-top: 50px;
}
.Support1{
    color:#0C145D;
    font-size: 25px;
}
.Support2{
    color: #606060;
}
.Support3{
    color: #606060;
}
.Support4{
    color: #606060;
}


.reserved{
    margin-top: 300px;
    margin-left: -1200px;
    margin-right: 500px;
    color: #606060;
}

.terms{
margin-top: 300px;
margin-right: 20px;
margin-left: 60px;
color: #606060;
}
.privacy{
    margin-top: 300px;
    color: #606060;
    
}
